@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/*rgb(230, 221, 221)*/
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  height: 100%;
  /* margin-top: 100px;*/
}
.App {
  display: flex;
  flex-direction: column;

  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;

  justify-content: right;
  background-color: rgba(119, 135, 255, 1);
}
.a {
  text-decoration: none;
  color: #fff;
  margin: 30px;
  font-size: 20px;
}

.a:hover {
  color: rgba(163, 173, 255, 1);
  cursor: pointer;
}

.a::after {
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  margin-top: 30px;
  color: #fff;
  margin-bottom: 0;
  background: rgba(119, 135, 255, 1);
}

footer h1 {
  font-size: 40px;
  margin: 40px;
}
.newsletter {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  align-items: center;
}

.newsletter input {
  display: block;
  width: 400px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 7px;
}

.button {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;

  width: 120px;
  height: 35px;

  margin-left: 15px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.privacy-policy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}
.privacy-policy a {
  margin-left: 10px;
}
